/*here is my external style sheet for AlbumpageV5*/
}
table, td {
	border: 2px solid black;
	border-collapse: collapse;
}
p {
	font-weight: bold;
	font-size: 20px;
}
.caption {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
/*italic fonts for band members and producers list*/
ul {
	font-style: italic;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: lawnGreen;
}
td {
	font-style: italic;
}
.img-circle {
    background-position: center center;
    background-size: cover;
}
  @font-face {
	 font-family: aFont;
	 src: url("aFont.eot"); /* For IE browsers */
}
@font-face {
	 font-family: aFont;
	 src: url("aFont.ttf"); /* For most other browsers */
}
.myFontClass {
    font-family: aFont, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: red;
}
.table-striped {
	background-color: #ebffcd;
}